body, html {
    width: 100%;
    height: 100%;
    color: #222;
}
hr {
    height: 12px;
    color: red;
    background-color: red;
    margin: 0px;
}
.btn-danger {
    background: red;
    font-weight: bold;
    border-radius: 18px;
}
.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}
.slide1 {
    background: url("../img/remont_pc.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;
}
.slide1 h1 {
    font-weight: 800;
}
.slide1 h5 {
    font-weight: 300;
}
.slide2 {
    padding-bottom: 80px;
}
.slide3 {
    padding: 60px;
    color: red;
}
.slide3 h5 {
    font-weight: bold;
}
.slide4 {
    background: red;
    padding-top: 40px;
    color: white;
}
.slide4 .col-sm-2 {
    padding-bottom: 20px;
}
.slide5 {
    padding: 30px;
}
.slide6 {
    background: red;
    color: white;
}
.slide6 img {
    height: 100%;
    width: 100%;
}
.slide7 {
    padding-top: 40px;
}
.slide8 {
    background: red;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.slide9 {
    height: 400px;
}
.slide10 {
    background: deepskyblue;
    color: white;
    font-weight: bold;
    padding: 20px;
}

#contact {
    background: red;
    color: white;
}
.imo {
    width: 70%;
    height: auto;
}

@media (min-width: 768px) {
    #contact {
        position: absolute;
        z-index: 1;
        margin-top: 100px;
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    .iml {
        width: 50%;
        height: auto;
    }
}

.raz {
    border-collapse: collapse;
    border-style: hidden;
    font-size: 12px;
}
.raz td {
    border: 1px solid dodgerblue;
}
.raz th {
    font-size: 12px;
}